{{ define "content" }}
<div class="container mt-5 mb-5">
  <form id="printEForm" class="row g-3 form-bg-color" action="/" method="">
    <h3 class="text-center text-primary"><u>Elektřina - Vaše Údaje</u></h3>
    <div class="d-flex text-center justify-content-around">
      <h5>Dodavatel<br><small class="text-primary">{{.Company}}</small></h5>
      <h5>Smlouva<br><small class="text-primary">{{.ContractDuration}}</small></h5>
      <h5>Dist. sazba<br><small class="text-primary">{{.DistCode}}</small></h5>
    </div>
    <div class="form-label text-center col-6 mt-4">
      <label for="usageVT">Spotřeba VT (MWh)</label>
      <input type="number" class="form-control text-center" id="usageVT" name="usageVT" value="{{.UsageVT}}" disabled>
    </div>
    <div class="form-label text-center col-6 mt-4">
      <label for="usageNT">Spotřeba NT (MWh)</label>
      <input type="number" class="form-control text-center" id="usageNT" name="usageNT" value="{{.UsageNT}}" disabled>
    </div>
    <div class="form-label text-center col-6 mt-2">
      <label for="mainBreaker">Hlavní jističe (A)</label>
      <input type="number" class="form-control text-center" id="mainBreaker" name="mainBreaker" value="{{.MainBreaker}}" disabled>
    </div>
    <div class="form-label text-center col-6 mt-2">
      <label for="phases">Počet fází</label>
      <input type="number" class="form-control text-center" id="phases" name="phases" value="{{.Phases}}" disabled>
    </div>
    <div class="container">
      <hr class="opacity-75 border-primary border-top border-3">
    </div>
    <h4 class="text-primary text-center"><u>Cena</u></h4>
    <div class="form-label text-center col-6">
      <label for="CostVT">Za Vysoký Tarif (Kč)</label>
      <input type="number" class="form-control text-center" id="CostVT" name="CostVT" value="{{.CostVT}}" disabled> 
    </div>
    <div class="form-label text-center col-6">
      <label for="costNT">Za Nizky Tarif (Kč)</label>
      <input type="number" class="form-control text-center" id="costNT" name="costNT" value="{{.CostNT}}" disabled> 
    </div>
    <div class="form-label text-center col-6">
      <label for="constPay">Měsíční platby (Kč)</label>
      <input type="number" class="form-control text-center" id="constPay" name="constPay" value="{{.CostMonth}}" disabled> 
    </div>
    <div class="form-label text-center col-6">
      <label for="poze">POZE (Kč)</label>
      <input type="number" class="form-control text-center" id="poze" name="poze" value="{{.Poze}}" disabled> 
    </div>
    <div class="container">
      <hr class="opacity-75 border-primary border-top border-3">
    </div>
    <h4 class="text-primary text-center"><u>Celková Cena</u></h4>
    <div class="form-label text-center col-6">
      <label for="total">Za {{.NumberOfMonths}} Měsícu (Kč)</label>
      <input type="number" class="form-control text-center" id="total" name="total" value="{{.Total}}" disabled> 
    </div>
    <div class="form-label text-center col-6 mb-5">
      <label for="totalMonth">Měsíčna Záloha (Kč)</label>
      <input type="number" class="form-control text-center" id="advance" name="advance" value="{{.Advance}}" disabled> 
    </div>
    <h6 class="text-center">webcognito.com - Kalkulačka</h6>
  </form>

  <div class="row mt-5 mb-5">
  <div class="col-1"></div>
  <button type="button" onclick="downloadDetailCalculation()" class="btn btn-primary btn-block col-4"><i class="fa-solid fa-download"></i><br>Stáhnout Výpočet</button>
  <div class="col-2"></div>
  <button type="button" onclick="addElectricComp()" class="btn btn-primary btn-block col-4">Přidat do Srovnání<br><i class="fa-solid fa-arrow-down"></i></button>
  <div class="col-1"></div>
</div>
<!-- Table for comparison -->
<div id="tablePrint" style="overflow-x: auto;" class="row">
  <h4 class="text-danger text-center">Srovnání Výpočtu</h4>
<table id="savedComp" class="text-center form-bg-color">
  <tr>
    <th>Dodavatel</th>
    <th>Smlouva</th>
    <th>Spotřeba VT</th>
    <th>Spotřeba NT</th>
    <th>Měsícu</th>
    <th>Cena</th>
    <th>Záloha</th>
    <!-- <th>Delete</th> -->
  </tr>
  <!-- created by js -->
</table>
<div class="row mt-2 mb-2">
  <div class="col-5"></div>
  <button type="button" onclick="clearETable(eRows)" class="btn btn-dark btn-block col-2 text-danger text-center"><i class="fa-regular fa-trash-can" style="color: #db3545;"></i> Clear Table</button>
  <div class="col-5"></div>
</div>
</div>
<!-- End of comp table -->
<div class="row mt-5 mb-5">
  <div class="col-1"></div>
  <button type="button" onclick="downloadComparision()" class="btn btn-primary btn-block col-4"><i class="fa-solid fa-download"></i><br>Stáhnout Srovnání</button>
  <div class="col-2"></div>
  <button type="button" onclick="downloadDetailWithComp()" class="btn btn-primary btn-block col-4"><i class="fa-solid fa-download"></i><br>Stáhnout Vše</button>
  <div class="col-1"></div>
</div>
</div>
<!-- Hidden table for saving data to local storage -->
<table id="comp" class="form-bg-color text-center" hidden>
  <tr>
    <td>{{.Company}}</td>
    <td>{{.ContractDuration}}</td>
    <td>{{.DistCode}}</td>
    <td>{{.UsageVT}}</td>
    <td>{{.UsageNT}}</td>
    <td>{{.MainBreaker}}</td>
    <td>{{.Phases}}</td>
    <td>{{.CostVT}}</td>
    <td>{{.CostNT}}</td>
    <td>{{.CostMonth}}</td>
    <td>{{.Poze}}</td>
    <td>{{.NumberOfMonths}}</td>
    <td>{{.Total}}</td>
    <td>{{.Advance}}</td>
    <td>{{.Uuid}}</td>
  </tr>
</table>
</div>

<!-- Use JS -->
  <script type="text/javascript" src="static/js/electric_download.js"></script>
  <!-- JS for comparison table -->
  <script type="text/javascript" src="static/js/renderElectricTable.js"></script>

  <!-- CDN for pdfmake -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha512-a9NgEEK7tsCvABL7KqtUTQjl69z7091EVPpw5KxPlZ93T141ffe1woLtbXTX+r2/8TtTvRX/v4zTL2UlMUPgwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.min.js" integrity="sha512-P0bOMePRS378NwmPDVPU455C/TuxDS+8QwJozdc7PGgN8kLqR4ems0U/3DeJkmiE31749vYWHvBOtR+37qDCZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{ end }}