{{ define "content" }}
<div class="container mt-5 mb-5">
  <div class="text-center">
  <h1 class="pt-3 text-primary">Vítejte v energetické kalkulačce</h1>
  <div class="container mt-3">
    <hr class="opacity-100 border-primary border-top border-3">
  </div>
  <h3 class="text-danger mt-5">Jak používat tuto aplikaci</h3>
    <p class="text-white text-start">Nejprve si najděte příslušnou cenovou tabulku svého dodavatele energie, abyste měli všechny informace potřebné pro výpočet ceny.
      Odkaz "Ceníky" vás zavede přímo k šesti největším dodavatelům energií.
      Bohužel ne všichni dodavatelé označují informace o cenách stejně.<br><br>
      Poté použijte příslušný odkaz pro výpočet vašich nákladů na elektřinu nebo plynu.<br><br></p>
      <p class="text-danger">Všechny výpočty cen v této aplikaci jsou bez záruky.</p>
  <div class="container mt-5">
    <hr class="opacity-100 border-primary border-top border-3">
  </div>
  <h3 class="text-danger mt-5">How to use this app</h3>
    <p class="text-white text-start">First, find the relevant price table for your energy supplier so that you have all the information you need for the price calculations. 
      The link "Ceníky" will take you directly to the six largest energy suppliers.
      Unfortunately, not all suppliers label the price information the same.<br><br>
      Then use the relevant link to calculate your electricity or gas costs.<br><br></p>
      <p class="text-danger">All price calculations in this application are without guarantee.</p>
  <div class="container mt-5">
    <hr class="opacity-100 border-primary border-top border-3">
  </div>
  <h3 class="text-danger mt-5">Wie verwenden Sie diese Applikation</h3>
    <p class="text-white text-start">Zuerst suchen Sie die relevante Preistabelle Ihres  Energielieferanten, damit Sie alle nötigen Angaben für die Preisberechnungen haben. 
      Der Link "Preis Listen" führt Sie direkt zu den sechs grössten Energielieferanten.
      Leider beschriften nicht alle Anbieter die Preisangaben gleich.<br><br>
      Danach verwenden Sie den relevanten Link um Ihre Elektrizitätskosten oder Gaskosten zu berechnen.<br><br></p>
      <p class="text-danger">Alle Preisberechnungen in dieser Applikation sind ohne gewähr.</p>
      <div class="container mt-5">
        <hr class="opacity-100 border-primary border-top border-3">
      </div>
  </div>
</div>

{{ end }}