{{ define "content" }}
<div class="container mt-5 mb-5">
  <h1 class="text-center text-primary pt-3">Ceníky</h1>
  <div class="container mt-3">
    <hr class="opacity-100 border-primary border-top border-3">
  </div>
  <div class="row mt-5">
    <div class="col-4">
      <div class="thumbnail">
        <a href="https://www.cez.cz/cs/podpora/ceniky.html" target="_blank">
          <img src="static/images/CEZ.png" class="mx-auto d-block" alt="ČEZ" style="width: 100px; height: 100px;">
          <div class="caption text-center">
            <p>SKUPINA ČEZ</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-4">
      <div class="thumbnail">
        <a href="https://www.pre.cz/cs/domacnosti/elektrina/" target="_blank">
          <img src="static/images/PRE.png" class="mx-auto d-block" alt="PRE" style="width: 100px; height: 100px;">
          <div class="caption text-center">
            <p>PRE</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-4">
      <div class="thumbnail">
        <a href="https://www.eon.cz/domacnosti/zakaznicka-pece/ceniky/?category=ke-sjednani&commodity=elektrina&zipCode=12800&page=1&searchType=facetsearch" target="_blank">
          <img src="static/images/EON.png" class="mx-auto d-block" alt="E.ON" style="width: 100px;height: 100px;">
          <div class="caption text-center">
            <p>E.ON</p>
          </div>
        </a>
      </div>
    </div> 
  </div>
  <div class="row mt-5">
    <div class="col-4">
      <div class="thumbnail">
        <a href="https://www.innogy.cz/ceniky/" target="_blank">
          <img src="static/images/innogy.png" class="mx-auto d-block" alt="Innogy" style="width: 100px; height: 100px">
          <div class="caption text-center">
            <p>Innogy</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-4">
      <div class="thumbnail">
        <a href="https://www.centropol.cz/ceniky/" target="_blank">
          <img src="static/images/centropol.png" class="mx-auto d-block" alt="Centropol" style="width: 100px;height: 100px;">
          <div class="caption text-center">
            <p>Centropol</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-4">
      <div class="thumbnail">
        <a href="https://www.mnd.cz/" target="_blank">
          <img src="static/images/MND.png" class="mx-auto d-block" alt="MND" style="width: 100px;height: 100px;">
          <div class="caption text-center">
            <p>MND</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="container mt-3 mb-5">
    <hr class="opacity-100 border-primary border-top border-3">
  </div>
</div>

{{ end }}