{{ define "content" }}
<div class="container mt-5 mb-5">
<form class="row g-3 form-bg-color" action="/goutput" method="post">
  <h2 class="text-center text-primary"><u>Plyn</u></h2>
  <div class="form-label col-sm-4 mb-3">
    <label for="company"><h4>Dodavatel</h4></label>
    <input type="text" class="form-control" id="company" name="company" placeholder="Vyberte" list="elecCompany">
      <datalist id="elecCompany">
        <option value="ČEZ"></option>
        <option value="E.ON"></option>
        <option value="PRE"></option>
        <option value="innogy"></option>
        <option value="Centropol"></option>
        <option value="MND"></option>
      </datalist>
  </div>
  <div class="form-label col-sm-4 mb-3">
    <label for="contractDuration"><h4>Smlouva</h4></label>
    <select class="form-select" name="contractDuration">
      <option value="">Vyberte</option>
      <option value="Doba neurčita">Doba neurčita</option>
      <option value="1 Rok">Doba určita 1 Rok</option>
      <option value="2 Roky">Doba určita 2 Roky</option>
      <option value="3 Roky">Doba určita 3 Roky</option>
    </select>
  </div>
  <div class="form-label col-sm-4 mb-3">
    <label for="usageRange"><h4>Roční odběr</h4></label>
    <select class="form-select" name="usageRange">
      <option value="">MWh</option>
      <option value="do 1,89">do 1,89</option>
      <option value="nad 1,89 do 7,56">nad 1,89 do 7,56</option>
      <option value="nad 7,56 do 15">nad 7,56 do 15</option>
      <option value="nad 15 do 25">nad 15 do 25</option>
      <option value="nad 25 do 45">nad 25 do 45</option>
      <option value="nad 45 do 63">nad 45 do 63</option>
    </select>
  </div>
  <div class="container">
    <hr class="opacity-100 border-primary border-top border-3">
  </div>
<!-- Usage -->
  <h4>Spotřeba (m<sup>3</sup>)</h4>
  <sup>(1m<sup>3</sup> = 0,01086 MWh)</sup>
  <div class="form-floating col-sm-4">
    <input onkeyup="m3toMWh()" type="number" step=0.01 class="form-control" id="m3Usage" name="m3Usage" placeholder="m3">
    <label for="m3Usage">m<sup>3</sup></label>
  </div>
  <div class="form-floating col-sm-4">
    <input onkeyup="mWhtoM3()" type="number" step=0.001 class="form-control" id="mwhUsage" name="mwhUsage" placeholder="MWh">
    <label for="mwhUsage">MWh</label> 
  </div>
<!-- Number of Months -->
  <div class="form-floating col-sm-4">
    <select class="form-select form-control" id="numberOfMonths" name="numberOfMonths">
      <option value="12">12</option>
      <option value="11">11</option>
      <option value="10">10</option>
      <option value="9">9</option>
      <option value="8">8</option>
      <option value="7">7</option>
      <option value="6">6</option>
      <option value="5">5</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1</option>
    </select>
    <label for="numberOfMonths">Měsíce</label> 
  </div>
  <div class="container">
    <hr class="opacity-75 border-primary border-top border-3">
  </div>
<!-- Price for Gas -->
  <h4>CENA ZA PLYN</h4>
  <div class="form-floating col-sm-6">
    <input type="number" step=0.01 class="form-control" id="priceGas" name="priceGas" placeholder="[Kč/MWh]">
    <label for="priceGas">Odebraný plyn s DPH <small>(Kč/MWh)</small></label>
  </div>
<!-- Monthly Payments Gas -->
  <div class="form-floating col-sm-6">
    <input type="number" step=0.01 class="form-control" id="monthlyGas" name="monthlyGas" placeholder="[Kč/měsíc]">
    <label for="monthlyGas">Stálá platba s DPH <small>(Kč/měsíc)</small></label>
  </div>
  <div class="container">
    <hr class="opacity-75 border-primary border-top border-3">
  </div>
<!-- Price for Gas Dist -->  
  <h4>CENA ZA DISTRIBUCI</h4>
  <div class="form-floating col-sm-6">
    <input type="number" step=0.01 class="form-control" id="priceDist" name="priceDist" placeholder="[Kč/MWh]">
    <label for="priceDist">Plynu s DPH <small>(Kč/MWh)</small></label>
  </div>
<!-- Monthly Payments Dist -->
  <div class="form-floating col-sm-6">
    <input type="number" step=0.01 class="form-control" id="monthlyDist" name="monthlyDist" placeholder="[Kč/měsíc]">
    <label for="monthlyDist">Stálá platba s DPH <small>(Kč/měsíc)</small></label>
  </div>
  <div class="container">
    <hr class="opacity-75 border-primary border-top border-3">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="consent" required>
      <label class="form-check-label" for="consent">
        Rozumím, že vypočtené výsledky jsou pouze orientační a každý poskytovatel provádí vlastní výpočty.
      </label>
    </div>
  </div>
  <div class="d-grid mt-5 mb-5">
    <button type="submit" class="btn btn-primary btn-block">Vypočítat</button>
  </div>
</form>
</div>
<!-- Conversion m3 to MWh and vice versa -->
<script>
  function m3toMWh (){
    var m3 = document.getElementById('m3Usage').value;
    var mWh = Math.round(((m3 * 0.9968 * 0.0108987) + Number.EPSILON) * 1000) / 1000;
    document.getElementById('mwhUsage').value = mWh;
  }
  function mWhtoM3 (){
    var mWh = document.getElementById('mwhUsage').value;
    var m3 = Math.round(((mWh / 0.9968 / 0.0108987) + Number.EPSILON) * 10) / 10;
    document.getElementById('m3Usage').value = m3;
  }
</script>
{{ end }}